<html lang="en">
<head>
    <style></style>
</head>
<body>
    <p>Hi {{name}}</p>
    <p>You Requested a reset to your password.</p>
    <p>Please, click the link to reset your password</p>
    <a href="{{link}}" target="_blank">Reset Password</a>
</body>
</html>